/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.example-spacer {
    flex: 1 1 auto;
  }

   
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
}

div i {
    font-size: 16px;
    margin-left: -25px;
    cursor: pointer;
  }

  .mat-select-panel {
    background: rgba(0, 0, 0, 0.9); 
    color: #f1f1f1;
}

.mat-select-panel mat-option{
  color: #f1f1f1;
}

::ng-deep .mat-select-content{
  color: #f1f1f1;
}
